.cart-total {
  width: 37rem;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  font-weight: bold;
}

.cart-total > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  text-transform: capitalize;
}

.all-total {
  font-size: 2.5rem;
}

.checkout-btn {
  height: 60px;
  background: #33a0ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media (max-width: 400px) {
  .cart-total {
    width: 100%;
  }
}
