.item {
  width: 270px;
  height: 349px;
  border: 3px solid #f6f7f8;
  border-radius: 4px;
  padding: 1.25rem;
  text-align: center;
  position: relative;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0 0.05rem black;
}

.item:hover .item-img {
  opacity: 0.2;
}

.item-img {
  margin-top: 1rem;
}

.item-img img {
  object-fit: cover;
}

.item-name {
  font-size: 2rem;
  letter-spacing: 0.35px;
  font-weight: bold;
  margin-top: 2rem;
}

.item-rating {
  font-size: 1.7rem;
  margin-top: 2.5rem;
}

.item-price {
  font-size: 1.7rem;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  column-gap: 1rem;
}

.discounted {
  color: #ff4858;
  font-weight: bold;
}

.actual {
  text-decoration-line: line-through;
  color: #c1c8ce;
}

.special {
  width: 4rem;
  height: 2rem;
  background: #ff4858 0% 0% no-repeat padding-box;
  border-radius: 2px;
  font-size: 1.2rem;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.cart-icons {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.item:hover .cart-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icons img {
  margin: 1rem;
}
