.featured-section {
  padding: 0 2rem;
}

.featured-head {
  font-size: 3rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10rem;
}

.feature-card {
  width: 319px;
  height: 213px;
  border-radius: 5px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.c-product-img {
  flex-basis: 60%;
}

.feature-card:hover {
  box-shadow: -4px 18px 30px #0000001a;
  background: #ffffff 0% 0% no-repeat padding-box;
  transform: scale(1.008);
  border: 0.10000000149011612px solid #000000;
  cursor: pointer;
}
