.info-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  color: #262626;
}

.extra-config {
  font-size: 1.7rem;
}

.header-config {
  margin-right: 1.2rem;
}

.user-config {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  width: 30rem;
}

.user-profile,
.cart-top {
  display: flex;
  align-items: center;
}

.cart-total-top {
  margin-left: 1rem;
  letter-spacing: 0.35px;
  color: #262626;
  opacity: 0.5;
}

.seperator {
  height: 2px;
  background: #fafafb 0% 0% no-repeat padding-box;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  justify-content: space-between;
  row-gap: 2rem;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-right: 5rem;
  font-weight: bold;
}

.links:last-child {
  margin-right: 0;
}

.links:hover {
  color: #2e90e5;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-links {
  display: none;
  position: absolute;
  width: 900px;
  height: 300px;
  background-color: #fff;
  top: 1.8rem;
  left: -20rem;
  padding: 2rem 0;
  z-index: 1000;
}

.dropdown:hover .dropdown-links {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-item {
  display: flex;
}

.drop-link {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.links-head {
  font-size: 1.8rem;
  color: #c1c8ce;
}

.d-2 {
  margin-top: 2.2rem;
  margin-left: 2rem;
}

.ham {
  display: none;
}

.mobile-nav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  z-index: 2000;
  background: #555357a0 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(23px);
}

.mobile-nav > * {
  margin-bottom: 2rem;
}

.page-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25rem solid #fff;
  padding-bottom: 0.25rem;
}

.page-info > div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.page-info > div > * {
  margin: 0 0.5rem;
}

.m-nav-links {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45rem;
}

.m-nav-search {
  position: relative;
  text-align: center;
}

.m-nav-search input {
  width: 30rem;
  height: 4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 27px;
}

.m-search {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: black;
}

.m-links {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 400px) {
  .header-top,
  .navigation {
    display: none;
  }

  nav {
    flex-direction: row;
    padding: 1.5rem;
  }

  .ham {
    display: block;
  }
}
