.background-1 {
  height: 50rem;
  margin-top: 1rem;
  background-image: url("../../../assets/backgrounds/back-1.png");
  background-size: cover;
  background-position: center;
}

.background-2 {
  height: 50rem;
  margin-top: 5rem;
  background: #2e90e5 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-info {
  color: #fff;
  flex-basis: 40%;
}

.show-heading {
  font-size: 5.8rem;
  margin-bottom: 2rem;
}
.show-text {
  font-size: 3.05rem;
  margin-bottom: 3rem;
}

.shop-btn {
  font-size: 1.4rem;
  background-color: #2e90e5;
  border: 0;
  color: #fff;
  border-bottom: 0.2rem solid #fff;
  cursor: pointer;
}

.show-img {
  width: 52rem;
  height: 52rem;
  margin-top: -11rem;
}

.support {
  display: flex;
  margin-top: 7rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.support > div {
  width: 30rem;
}

.support-img {
  width: 70px;
  height: 46px;
  margin: auto;
  margin-bottom: 2rem;
}

.support-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.support-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

@media (max-width: 400px) {
  .background-2 {
    flex-direction: column;
    overflow: hidden;
    padding: 3rem 3rem 0 3rem;
  }

  .show-heading {
    font-size: 4.8rem;
  }
  .show-text {
    font-size: 2.8rem;
  }

  .show-img {
    width: 30rem;
    height: 30rem;
    margin-top: 0;
  }

  .support {
    row-gap: 2rem;
    padding: 4rem;
    justify-content: center;
  }
}
