@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mr-1 {
  margin-right: 0.5rem;
}

.b {
  font-weight: bold;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.route-link {
  text-decoration: none;
  color: inherit;
}

.shadow {
  filter: blur(2rem);
}

@media (max-width: 400px) {
  html {
    font-size: 58%;
  }
}
